<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myexam.mapper.StudentPaperMapper">
    <select id="selectStudentPaper" resultMap="studentRecordVOMap">
        select paper_id,
               paper_name,
               total_time,
               total_score,
               finish_status,
               questions,
               question_number,
               deadline,
               answers,
               submit_time,
               obtain_score
        from student_paper a,meta_paper b
        where a.paper_id = b.id and paper_id = #{paperId}
    </select>
    <resultMap id="studentRecordVOMap" type="com.myexam.vo.StudentPaperVO">
        <result property="submitTime" column="submit_time"/>
        <result property="id" column="paper_id"/>
        <result property="obtainScore" column="obtain_score" />
        <result property="paperName" column="paper_name" />
        <result property="totalTime" column="total_time" />
        <result property="totalScore" column="total_score" />
        <result property="questionNumber" column="question_number" />
        <result property="deadline" column="deadline" />
        <result property="finishStatus" column="finish_status" />
        <result property="studentAnswers" column="answers" jdbcType="VARCHAR"  typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" />
        <result property="questions" column="questions" jdbcType="VARCHAR"  typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" />
    </resultMap>

    <select id="selectStudentPaperList" resultMap="studentRecordVOMap">
        select  paper_id,
                paper_name,
                total_time,
                total_score,
                finish_status,
                questions,
                question_number,
                deadline,
                answers,
                submit_time,
                obtain_score
        from student_paper a,meta_paper b
        where a.paper_id = b.id and student_id = #{studentId}
        <if test="finishStatus != null">
            <choose>
                <when test="condition">
                    and finish_status = #{finishStatus}
                </when>
                <otherwise>
                    and finish_status != #{finishStatus}
                </otherwise>
            </choose>
        </if>
    </select>
</mapper>
